html {

    height: 100%;

}

body {

    height: 100%;
    margin: 0px;
    background-color: white
}

#container {

    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;

}

#esquerda {

    background-color: aqua;
    height: 100%;
    width: 17%;

}

#direita {

    background-color: black;
    height: 100%;
    width: 83%;

}

#topo1 {

    height: 15%;
    width: 100%;
    background-color: blueviolet;
    display: flex;

}

#topoesquerdo {

    height: 100%;
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

}

#topocentro {

    height: 100%;
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

}

#topodireito {

    height: 100%;
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

}

#topo2 {

    height: 5%;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#meio {

    height: 65%;
    width: 100%;
    background-color: green;

}

#meio-separacao {

    background-color: blue;
    height: 2rem;

}

.meio-dados-pessoais {

    background-color: red;

    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

}

#baixo {

    height: 15%;
    width: 100%;
    background-color: gray
}

#input-dados-cadastrais {

    height: 1rem;

}

#baixo {

    background-color: burlywood;
    height: 15%;
    width: 100%;

}

.dados-pessoais {
    width: 33%;
    justify-content: start;
}