html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0%;

}

#container{

    height: 100%;
    background-color: rgb(255, 255, 255);

}

#cima-preto{
    
    height: 10%;
    width: 100%;
    display: flex;
    background-color: rgb(88, 86, 86);
}

#logo{

    height: 100%;
    width: 25%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    
    
}

#icone-manto-rei{
    
    
    height: 22%; 
    width: 22%; 
    margin-left: 40%;
    
}



#barra-de-pesquisa{

    height: 100%;
    width: 50%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;

}

#pesquisa{

    width: 70%;
    height: 32%;     
    border-radius: 10px 0px 0px 10px;
    border: 0px;
    padding-left: 15px;

}
#pesquisa:focus{

    outline: none;
}


#botao-pesquisa{

    height: 90%; 
    width: 68%; 
    margin-left: 50%;
}

#button{

    height: 35%; 
    width: 9%; 
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
}

#login{

    height: 100%;
    width: 25%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#atendimento-ao-cliente{

    height: 38%; 
    width: 38%; 
    

}

#login-imagem{

    height: 100%; 
    width: 100%; 
    margin-left: 10%;

}

#carrinho-imagem{

    height: 33%; 
    width: 33%; 
    margin-left: 30%;

}

#cima-roxo{
    
    height: 10%;
    width: 100%;
    display: flex;
    background-color: rgb(132, 0, 255);
}

#selecao{

    height: 100%;
    width: 25%;
    background-color: rgb(132, 0, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#internacionais{

    height: 100%;
    width: 50%;
    background-color: rgb(132, 0, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#brasileiros{

    height: 100%;
    width: 25%;
    background-color: rgb(132, 0, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;

}


#meio{

    height: 70%;
    width: 100%;
    background-color: rgb(233, 233, 233);
    display: flex;

}

#meio-esquerda{

    height: 100%;
    width: 72%;

}

#meio-esquerda-cima{

    height: 85%;
    width: 100%;
    display: flex;

}

#miniaturas{

    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1%;

}

#miniatura-cima{

    height: 29%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(221, 220, 220);


}

#miniatura-meio{

    height: 29%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(221, 220, 220);

}

#miniatura-baixo{

    height: 29%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(221, 220, 220);

}

.miniaturas-img{

    height: 100%;
    width: 90%;
    
}

#fundo-foto-principal{

    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

#foto-principal{
    
    height: 90%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(221, 220, 220);
}


#boca-img{

    height: 100%;
    width: 75%;


}

#meio-esquerda-baixo{

    height: 15%;
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: flex;

}

#meio-direita{

    height: 100%;
    width: 28%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
      
}
#meio-direita-cima{

    height: 65%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    
    
}

#estrela{
    
    height: 25%;
    width: 50%;
    
    
}

#nome-camisa{
    
    height: 20%;
    width: 90%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 180%;
    margin-left: 3%;
}

#preco-camisa-cortado{

    height: 10%;
    width: 80%;
    font-size: 150%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 13%;
}

#preco-camisa{

    height: 10%;
    width: 40%;
    font-size: 180%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 3%;

}

#lbTamanhos{

    height: 10%;
    width: 40%;
    font-size: 200%;
    margin-block-start: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 3%;

}

#meio-direita-meio{

    height: 15%;
    width: 100%;
    display: flex;
    
  
}

.btTamanhos{

    height: 30px; 
    width: 50px; 
    display: flex;
    border-color: black;
    border: 1%;
    margin-left: 10%;
    font-weight: bold;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.btTamanhos:hover{

    border-color: black;
    scale: 105%;
    



}

#meio-direita-baixo{

    height: 20%;
    width: 100%;
    display: flex;

}

#btCompra{

    height: 40%;
    width: 50%;
    border-radius: 50px 50px 50px 50px;
    margin-left: 17%;
    background-color: rgb(132, 0, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bold;

}

#btCompra:hover{

    border-color: black;
    scale: 105%;


}

#baixo{

    height: 30%;
    width: 100%;
    background-color: rgb(132, 0, 255);
    
}