*{
    box-sizing: border-box;
}


html {

    height: 100%;

}

body {

    height: 100%;
    margin: 0px;
    align-items: center;
    background-color: white;
}
a{

    text-decoration: none;

}

#container{

    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#firstLine{

    height: 10%;
    width: 100%;
    background-color: rgb(132, 0, 255);
    font-size: 105%;

}

#divDoLogo{

    height: 25%;
    width: 100%;
    background-color: rgb(132, 0, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
#divDoMeio{

    height: 40%;
    width: 100%;
    background-color: rgb(132, 0, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#divDaCaixaDeLogin{

    height: 40%;
    width: 100%;
    background-color: rgb(132, 0, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#logo{

    height: 12rem;
    width: 12rem;
    position: absolute;

}

#divEsqueciSenha{

    height: 20%;
    width: 100%;
    background-color: rgb(132, 0, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#divButton{

    height: 20%;
    width: 100%;
    background-color: rgb(132, 0, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#Baixo{

    height: 25%;
    width: 100%;
    background-color: rgb(132, 0, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#Esqueci{

    font-size: 1rem;

}

input:focus{

    outline: none;

}

input{

    height: 2rem;
    width: 20rem;
    border-radius: 15px;
    padding-left: 1%;
    border: 0px;

}

button{

    height: 3rem;
    width: 10rem;
    border-radius: 20px;
    user-select: none;
    border: 0px;
    font-size: 2rem;

}

a{

    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI';
    user-select: none;

}

a:hover{

    color: rgb(207, 115, 235);
    font-family: 'Segoe UI';
}
