*{
    box-sizing: border-box;
}


html {

    height: 100%;

}

body {

    height: 100%;
    margin: 0px;
    align-items: center;
    background-color: white;
}
a{

    text-decoration: none;

}

#container{

    height: 100%;
    width: 100%;
    background-color: rgb(68, 0, 145);
    display: flex;
    flex-direction: column;
    align-items: center;

}

#firstLine{

    height: 8%;
    width: 90%;
    background-color: rgb(68, 0, 145);
    font-size: 100%;
    display: flex;
    justify-content:left;
    align-items:center;
    margin-left: 4%;;
}

#firstLineLogin{

    height: 90%;
    width: 48%;
    font-size: 100%;
   

}

#divisao{

    height: 100%;
    width: 2%;
    background-color: rgb(68, 0, 145);

}

#firstLineCadastro{

    height: 100%;
    width: 48%;
    font-size: 105%;

}

#meio{

    height: 90%;
    width: 100%;
    background-color: rgb(132, 0 ,255);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    


}

#fundoRoxoEscuro{

    height: 80%;
    width: 30%;
    background-color: rgb(68, 0, 145);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#logo{

    height: 27%;
    width: 27%;
    cursor: pointer;
}

#divDosInputs{

    height: 40%;
    width: 100%;
    margin-top: 10%;

}

#divDaCaixaDeLogin{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input{

    height: 30%;
    width: 85%;
    border-radius: 15px;
    padding-left: 3%;
    border: 0px;

}

#divEsqueciSenha{
    
    height: 30%;
    width: 60%;

}

#divButton{
    
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button{

    height: 60%;
    width: 50%;
    border-radius: 20px;
    user-select: none;
    border: 1%;
    font-size: 180%;
    background-color:  rgb(163, 65, 255);
    border-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

button:hover{
    scale: 105%;
    
}

#baixo{
    height: 5%;
    width: 100%;
    background-color:rgb(68, 0, 145);
}

a{

    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI';
    user-select: none;

}

a:hover{

    color: rgb(207, 115, 235);
    font-family: 'Segoe UI';
}
