html{

    height: 100%;

    --cor-fundo : rgb(132, 0, 255);    
    --cor-hover : rgb(94, 1, 182);
    --cor-primaria : rgb(231, 241, 236);
}

body{

    height: 100%;
    margin: 0%;

}

#container{

    height: 100%;
    background-color: rgb(132, 0, 255); 

}

#cima-preto{
    
    height: 14%;
    width: 100%;
    display: flex;
    background-color: rgb(88, 86, 86);
}

#logo{

    height: 100%;
    width: 25%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    
    
}

#a-img{
    
    height: 85%; 
    width: 55%; 
    margin-left: 20%;
}

#icone-manto-rei{
    
    
    height: 100%; 
    width: 100%; 
    
    
}

#nome-logo{

    color: aliceblue;
    height: 41%;
    width: 140%;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    
}

#barra-de-pesquisa{

    height: 100%;
    width: 50%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;

}

#pesquisa{

    width: 90%;
    height: 32%;     
    border-radius: 10vmax 10vmax 10vmax 10vmax;
    border: 0px;
    padding-left: 2%;

}

#pesquisa:focus{

    outline: none;
    border: solid 2px #2f4550;
}

#botao-pesquisa{

    height: 25%; 
    width: 4%; 
    margin-left: -5%;
    cursor: pointer;
}

#login{

    height: 100%;
    width: 25%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

#iconesLogin{
    
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#prancheta{

    height: 60%; 
    width: 18%; 
    cursor: pointer;
    margin-top: 5%;
}

#login-imagem{

    height: 70%; 
    width: 18%; 
    margin-left: 11%;
    cursor: pointer;
    margin-top: 5%;
}

#carrinho-imagem{

    height: 80%; 
    width: 20%; 
    margin-left: 10%;    
    margin-right: 10%;
    cursor: pointer;
    margin-top: 5%;
}

#nomeUsuario{

    height: 20%;
    width: 100%;
    display: flex;
    
    color: aliceblue;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dp-menu{

    width: 100%;
    height: 7%;
}

.dp-menu ul{

    list-style-type: none;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}

.dp-menu ul{

    background-color: var(--cor-fundo);
    
}

.dp-menu ul li{

    display: inline;
    position: relative;
}

.dp-menu ul li a{

    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background 0.3s;
}

.dp-menu ul li a:hover{

    background-color: var(--cor-hover);
}

/* sub menu */

.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}

.dp-menu ul li:hover ul{
    display: block;
    opacity: 1;
}

.dp-menu ul ul{
    width: 150px;

}

.dp-menu ul ul li a{
    display: block;
    
}

#div-propaganda{

    height: 75%;
    width: 100%;
}

#img-propaganda{

    height: 100%;
    width: 100%;
}

#selecao{

    height: 100%;
    width: 25%;
    background-color: rgb(132, 0, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#internacionais{

    height: 100%;
    width: 50%;
    background-color: rgb(132, 0, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#brasileiros{

    height: 100%;
    width: 25%;
    background-color: rgb(132, 0, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.lbProdutos{

    height: 3%;
    width: 40%;
    font-size: 200%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    align-items: center;
    margin-right: 55%;
    margin-top: 2%;
}

#sugestoes{

    height: 300%;
    width: 100%;
    background-color: rgb(231, 231, 231);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.divisoria-produtos{

    height: 0.3%;
    background-color: black;
    width: 90%;
    align-items: center;
    display: flex;
    margin-left: 5%;
}

.maisVendidas{

    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
    
}

.mais-vendidas{

    height: 88%;
    width: 20%;
    background-color: rgb(221, 220, 220);
    margin-top: 2%;

}
.mais-vendidas:hover{

    scale: 105%;
}

#mesmaMarca{

    height: 33%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.mesma-marca{

    height: 100%;
    width: 20%;
    background-color: rgb(221, 220, 220);

}

.mesma-marca:hover{

    scale: 105%;
}

.img-produtos{

    height: 70%;
    width: 100%;
    cursor: pointer;

}

.descricao-produto{

    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.preco-real{

    display: flex;
    font-size: 110%;

}

.dimunuir-riscado{

    display: flex;
    font-size: 80%;
}

#baixo{

    height: 30%;
    width: 100%;
    background-color: rgb(132, 0, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.divs-baixo{

    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.div-senai{

    height: 100%;
    width: 25%;

}

.img-baixo{

    margin-top: 12%;
    height: 38%;
    width: 22%;

}

.img-senai{

    margin-top: 14%;
    height: 45%;
    width: 70%;

}


.label-negrito{

    display: flex;
    font-size: 110%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.label-normal{

    display: flex;
    font-size: 110%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}