*{
    box-sizing: border-box;
}


html {

    height: 100%;

}

body {

    height: 100%;
    margin: 0px;
    align-items: center;
    background-color: white
}

#container {

    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#topo1 {

    height: 15%;
    width: 100%;
    display: flex;

}

#topoesquerdo {

    height: 100%;
    width: 20%;
    background-color: rgb(116, 194, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}

#topocentro {

    height: 100%;
    width: 60%;
    background-color: rgb(116, 194, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}

#topodireito {

    height: 100%;
    width: 20%;
    background-color: rgb(116, 194, 0);
    display: flex;
    justify-content: center;
    align-items: center;

}

#topo2 {

    height: 5%;
    width: 100%;
    background-color: rgb(116, 194, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#meio {

    height: 65%;
    width: 100%;
    background-color: green;
    display: flex;

}

#imgmantorei {

    height: 70px;
    width: 70px;
    margin: 10px;
}

#img {

    height: 3rem;
    width: 3rem;
    margin: 0, 8rem;
}

#img2 {

    height: 40px;
    width: 40px;
    margin: 10px;
}

#baixo {

    height: 15%;
    width: 100%;
    background-color: gray
}

#butonsearch {

    height: 40%;
    width: 5%;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    background-image: url("IMG/Lupa.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;

}

.textdropdown {

    font-family: 'Rubik', sans-serif;
}

#search {

    height: 40%;
    width: 80%;
    border-radius: 15px 0px 0px 15px;
    border: 0px;
    font-size: 110%;
    font-family: 'Rubik', sans-serif;
    padding-left: 2%;


}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

::placeholder {

    color: rgb(228, 228, 228);

}

.d-block {

    height: 10%;
    width: 10%;

}

#ImgCarroussel {

    max-height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.Carroussel{

    box-shadow: 2px 2 px 4px black;
    overflow: hidden;
    height: 500px;
    width: 500px;

}

.Carroussel-container{

display: flex;
transition: transform 0.5s ease-in-out;
transform: translateX(0);

}

#ImgCarroussel{

object-fit: cover;
height: 500px;
width: 500px;

}




